.icons {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 150px;
}

.container {
  width: 1900px;
}

.lin {
  margin-left: 50px;
  width: 1000px;
}

.mrg {
  margin-left: 20px;
  margin-right: 20px;
}
